.roommates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    padding: 20%;
    border-radius: 20px;
    color: white;
    /* width: 20vw; */
    background-color: #cceeb7; /* note: V != B */
}
.roommatecontainer {
    margin: 16px;
}
.roommateOne-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: space-between; /* might change later */
    align-items: flex-start;
    border-radius: 20px;
    background-color: black;
}

.roommateTwo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
    border-radius: 20px;
    background-color: black;

}

.roommateThree-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
    border-radius: 20px;
    background-color: black;

}
.logo-pic2 {
    width: 20%;
    height: auto;
}