* {
  margin: 0;
  padding: 0;
  /* background-color: #F7F5FB; */
  font-family: 'Lato', sans-serif;
}

.root {
  display: flex; /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-size: 16pt;
}