.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    padding-top: 40px;
    width: 20vw;
    background-color: #cceeb7; /* note: V != B */
}
.logo-container {
    display: flex;
    justify-content: center; /* might change later */
    align-items: center;
}

.logo-pic {
    width: 50%;
    height: auto;
}