

.reminders {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
    height: 30vh;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    font-size: 15px;
}

.reminders-title {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}