.roommates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    padding: 5%;
    border-radius: 20px;
    color: black;
    /* width: 20vw; */
    background-color: #cceeb7; /* note: V != B */
}
.roommatecontainer {
    margin: 16px;
}
.roommateOne-container {
    display: flex;
    flex-direction: row;
    padding: 5%;
    justify-content: space-between; /* might change later */
    align-items: flex-start;
    border-radius: 20px;
    background-color: #f7f5fb;
}

.roommateTwo-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; 
    padding: 5%;
    border-radius: 20px;
    background-color: #f7f5fb;
}

.roommateThree-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; 
    padding: 5%;
    border-radius: 20px;
    background-color: #f7f5fb;
}

.status {
    width: 15%;
    height: auto;
}